[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=openkittyhere

[Desktop Action openkittyhere]
Name=Open Kitty here
Exec=kitty --directory %f
Icon=utilities-terminal
